@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* MENU */
.container-header {
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.container-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.container-header header .logo a {
    font-family: 'Righteous';
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
}

.container-header header ul {
    display: flex;
    list-style: none;
}

.container-header header nav ul li a {
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.container-header header nav ul li a:hover {
    color: #1CB698;
}

.nav-responsive {
    background-color: #1CB698;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* SECCION I N I C I O */
.home {
    background: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, 1)),
        url(img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.home .container-banner {
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.home .container-banner img {
    margin-top: 40px;
    border: 10px solid #1CB698;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.home .container-banner h1 {
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}

.home .container-banner h2 {
    font-size: 15px;
    font-weight: normal;
}

.home .container-banner .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.home .container-banner .redes a:hover {
    background-color: #1CB698;
}

.aboutme {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.aboutme .container-section {
    max-width: 1100px;
    margin: auto;
}

.aboutme h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

.aboutme .container-section p {
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.aboutme .container-section p span {
    color: #1CB698;
    font-weight: bold;
}

.aboutme .fila {
    display: flex;
}

.aboutme .fila .col {
    width: 50%;
}

.aboutme .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.aboutme .fila .col ul {
    list-style: none;
}

.aboutme .fila .col ul li {
    margin: 12px 0;
}

.aboutme .fila .col ul li strong {
    display: inline-block;
    color: #1CB698;
    width: 130px;
}

.aboutme .fila .col ul li span {
    background-color: #1CB698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.aboutme .fila .col .contenedor-intereses {
    display: flex;
    flex-wrap: wrap;
}

.aboutme .fila .col .contenedor-intereses .interes {
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.aboutme .fila .col .contenedor-intereses .interes:hover {
    background-color: #1CB698;
}

.aboutme .fila .col .contenedor-intereses .interes i {
    font-size: 30px;
    margin-bottom: 10px;
}

.aboutme button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.aboutme button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}

.aboutme button:hover .overlay {
    width: 100%;
}

/* SECCION S K I L L S */
.skills {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

.skills .container-section {
    max-width: 1100px;
    margin: auto;
}

.skills h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

.skills .fila {
    display: flex;
}

.skills .fila .col {
    width: 50%;
    padding: 0 20px;
}

.skills .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.skills .skill>span {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .barra-skill {
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progreso {
    background-color: #1CB698;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .barra-skill span {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #1CB698;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

.skills .skill .linq {
    width: 0%;
    animation: 2s linq forwards;
}

@keyframes linq {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.skills .skill .htmlcssjavascript {
    width: 0%;
    animation: 2s htmlcssjavascript forwards;
}

@keyframes htmlcssjavascript {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}

.skills .skill .aspnetmvc {
    width: 0%;
    animation: 2s aspnetmvc forwards;
}

@keyframes aspnetmvc {
    0% {
        width: 0%;
    }

    100% {
        width: 89%;
    }
}

.skills .skill .csharp {
    width: 0%;
    animation: 2s csharp forwards;
}

@keyframes csharp {
    0% {
        width: 0%;
    }

    100% {
        width: 81%;
    }
}

.skills .skill .xamarin {
    width: 0%;
    animation: 2s xamarin forwards;
}

@keyframes xamarin {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.skills .skill .comunication {
    width: 0%;
    animation: 2s comunication forwards;
}

@keyframes comunication {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}

.skills .skill .teamwork {
    width: 0%;
    animation: 2s teamwork forwards;
}

@keyframes teamwork {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.skills .skill .creativity {
    width: 0%;
    animation: 2s creativity forwards;
}

@keyframes creativity {
    0% {
        width: 0%;
    }

    100% {
        width: 99%;
    }
}

.skills .skill .dedication {
    width: 0%;
    animation: 2s dedication forwards;
}

@keyframes dedication {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.skills .skill .project {
    width: 0%;
    animation: 2s project forwards;
}

@keyframes project {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

/* SECCION CURRICULUM */
.curriculum {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.curriculum .container-section {
    max-width: 1100px;
    margin: auto;
}

.curriculum h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

.curriculum .fila {
    display: flex;
    justify-content: space-between;
}

.curriculum .fila .col {
    width: 49%;
    padding: 0 20px;
}

.curriculum .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.curriculum .fila .izquierda {
    border-right: 2px solid #252A2E;
}

.curriculum .fila .derecha {
    border-left: 2px solid #252A2E;
}

.curriculum .fila .item {
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}

.curriculum .fila .item h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.curriculum .fila .item .casa {
    color: #1CB698;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.curriculum .fila .item .fecha {
    display: block;
    color: #1CB698;
    margin-bottom: 10px;
}

.curriculum .fila .item p {
    line-height: 24px;
}

.curriculum .fila .izq {
    border-right: 2px solid #1CB698;
    margin-right: 20px;
}

.curriculum .fila .der {
    border-left: 2px solid #1CB698;
    margin-left: 20px;
}

.curriculum .fila .item .conectori {
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectori .circuloi {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: right;
    position: relative;
    bottom: 4px;
}

.curriculum .fila .item .conectord {
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectord .circulod {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: left;
    position: relative;
    bottom: 4px;
}

/* SECCION PORTFOLIO */
.portfolio {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

.portfolio .container-section {
    max-width: 1100px;
    margin: auto;
}

.portfolio h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.portfolio .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio .galeria .proyecto {
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.portfolio .galeria .proyecto img {
    width: 100%;
    display: block;
}

.portfolio .galeria .proyecto .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28, 182, 152, .8), rgba(28, 182, 152, .8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

.portfolio .galeria .proyecto .overlay h3 {
    margin-bottom: 20px;
    transition: 1s;
}

.portfolio .galeria .proyecto .overlay:hover {
    opacity: 1;
}

.portfolio .galeria .proyecto .overlay:hover h3 {
    margin-bottom: 0px;
}

/* SECTION CONTACT ME */
.contactme {
    background-image: url(img/contact_bg.png);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}

.contactme .container-section {
    max-width: 1100px;
    margin: auto;
}

.contactme h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.contactme .fila {
    display: flex;
}

.contactme .col {
    width: 50%;
    padding: 10px;
    position: relative;
}

.contactme .col input,
.contactme .col textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}

.contactme button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.contactme button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}

.contactme button:hover .overlay {
    width: 100%;
}

.contactme .col img {
    width: 100%;
}

.contactme .col .info {
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contactme .col .info ul {
    list-style: none;
}

.contactme .col .info ul li {
    margin-bottom: 20px;
}

.contactme .col .info ul li i {
    color: #1CB698;
    display: inline-block;
    margin-right: 20px;
}

footer {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .redes {
    margin-bottom: 20px;
}

footer .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .arriba {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

/* SECCION RESPONSIVE */
@media screen and (max-width:980px) {
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}

@media screen and (max-width:700px) {
    .aboutme .fila {
        display: block;
    }

    .aboutme .fila .col {
        width: fit-content;
    }

    .skills .fila {
        display: block;
    }

    .skills .fila .col {
        width: 100%;
    }

    .skills .fila .col .barra-skill {
        width: 100%;
    }

    .curriculum .fila {
        display: block;
    }

    .curriculum .fila .col {
        width: 90%;
    }

    .curriculum .fila .derecha {
        margin-left: 20px;
    }

    .portfolio .galeria {
        display: block;
        width: 100%;
    }

    .portfolio .galeria .proyecto {
        max-width: 100%;
    }

    .portfolio .galeria .proyecto img {
        width: 100%;
    }

    .contactme .fila {
        display: block;
    }

    .contactme .fila .col {
        width: 100%;
    }
}